<% 

content_for(:html_title) { 'Login' } 
content_for(:main_class) { 'min-vh-full d-flex align-items-center' }

%>

<div class="w-100 m-auto container-devise">

  <h1 class="h3 mb-3 fw-normal text-center">Sign up</h1>

  <%= 
    form_for resource, 
      as: resource_name, 
      url: registration_path(resource_name),
      html: {
        data: { turbo: false }
      } do |f| 
  %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-floating">
      <%= 
        f.email_field :email, 
          autofocus: true, 
          autocomplete: "email", 
          class: 'form-control rounded-0 rounded-top',
          placeholder: 'Email'
      %>
      <%= f.label :email %>
    </div>

    <div class="form-floating">
      <%= 
        f.password_field :password, 
          autocomplete: "current-password", 
          class: 'form-control rounded-0',
          placeholder: 'Password'
      %>
      <%= f.label :password %>
    </div>

    <div class="form-floating mb-2">
      <%= 
        f.password_field :password_confirmation, 
          class: 'form-control rounded-0 rounded-bottom',
          placeholder: 'Password Confirmation'
      %>
      <%= f.label :password_confirmation %>
    </div>

    <div class="mb-3">
      <%= f.submit "Sign up", class: 'btn btn-primary w-100' %>
    </div>
  <% end %>

  <div class="text-center">
    <%= render "devise/shared/links" %>
  </div>

</div>