<h1>
  My Profile
</h1>

<%= form_for current_user do |f| %>

  <div class="mb-3 form-floating">
    <%= f.text_field :first_name, class: 'form-control', placeholder: 'First Name' %>
    <%= f.label :first_name %>
  </div>

  <div class="mb-3 form-floating">
    <%= f.text_field :first_name, class: 'form-control', placeholder: 'First Name' %>
    <%= f.label :first_name %>
  </div>

  <div class="mb-3 form-floating">
    <%= f.text_field :first_name, class: 'form-control', placeholder: 'First Name' %>
    <%= f.label :first_name %>
  </div>

<% end %>