<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/svg+xml" href="<%= asset_path('logo.svg') %>" >
    <title>
      <%= content_for?(:html_title) ? yield(:html_title) : "Slingshot" %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="<%= yield :body_class %>">
    <%= render 'shared/header' %>

    <main class="<%= content_for?(:main_class) ? yield(:main_class) : "container min-vh-100 pt-4 pb-5" %>">
      <%= yield %>
    </main>


    <%= render 'shared/footer' %>
  </body>
</html>
